.trafficLightStem {
    background-color: black;
    width: 20px;
    height: 90px;
    margin: auto;
}

.trafficLightBody {
    background-color: black;
    width: 160px;
    height: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 18px;
}

.light{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: auto;
}

.redLight {
    background-color: red;
}

.redGlow {
    box-shadow: 0 0 40px 20px red;
}

.yellowLight {
    background-color: yellow;
}

.yellowGlow {
    box-shadow: 0 0 40px 20px yellow;
}

.greenLight {
    background-color: green;
}

.greenGlow {
    box-shadow: 0 0 40px 20px green;
}